/node_modules
/public/hot
/public/storage
/public/adminer.php
/database/seeds/tmp/
/storage/*.key
/vendor
/public/admin
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
